{% extends 'base.html' %}
{% load static %}
{% block content %}
{% include 'partials/header.html' %}
{% include 'partials/menu.html' %}

    <h2>Entre em contato</h2>
    <form>
        Nome:<input class="form-control form-control-lg" type="text" placeholder="Digite seu Nome" aria-label="Digite seu Nome"><br>
        Telefone: <input class="form-control" type="text" placeholder="Digite seu Telefone" aria-label="Digite seu Telefone" type="tel"><br>
        Mensagem:<br>
        <div class="form-floating">
            <textarea class="form-control" placeholder="Leave a comment here" id="floatingTextarea2" style="height: 100px"></textarea>
            <label for="floatingTextarea2">Digite sua Sugestão de Receita</label>
          </div>

    </form>
{% include 'partials/footer.html' %}
{% endblock %}