{% extends 'base.html' %}
{% load static %}
{% block content %}
{% include 'partials/header.html' %}
{% include 'partials/menu.html' %}
    <table border="1" class="table table-Sucess table-hover">
        <tr class="table-dark">
            <th>Receita</th>
            <th>Vídeo</th>
            <th>Ações</th>
            <th>Nota da Receita</th>
        </tr>
        {% for receita in lista_receitas %}
        <tr>
            <td>
                <img src="{% static 'suco.png' %}" class="icone-suco">
                         
               {{receita.nome_receitas}}
            
            </td>
            <td>{{receita.video}}</td>
            <td><a href="{% url 'sucodelaranja' %}" >Ver receita completa</a></td>
            <td>{{receita.nota}}</td>
        </tr>
        {% endfor %}
        </table>
{% include 'partials/footer.html' %}
{% endblock %}