<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>🧑‍🍳👩‍🍳Personal Cheff</h1>
    <h2>🥪🍗🍱🍣 Seu Site de Receitas 🥪🍗🍱🍣 </h2>
    <marquee> Seja bem-vindo ao Site de Receitas mais atualizado da Internet - Receitas online e grátis <br></marquee>
    <table border="1" bgcolor="#00ffee">
        <tr>
            <th> Receitas</th>
            <th> Videos</th>
            <th> Ações</th>
        </tr>
        <tr>
            <td> Suco de Laranja</td>
            <td> https://www.youtube.com/watch?v=Nn9140bDPnc</td>
            <td><a href="sucodelaranja"> Ver receita Completa</a></td>
        </tr>
    </table>
    
    <img src="root\logo.png" alt=" personalcheff ">

</body>
</html>